/* font  */
*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  /* pura content a apply hobe  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-white{
  color: #FFFFFF;
}
.text-green{
  color: #469165;
}
.text-green1{
  color: #30B868;
}

.text-black{
  color: #001931;
}
.btn-green-nav{
  background-color: #469165;
  padding: 12.5px 16px;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-green-nav:hover{
  background-color: #105b36;
}

.btn-1{
  gap: 10px;
  background-color: #469165;
  color: #FFFFFF;
  padding: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.btn-1:hover{
  background-color: #35714f;
  
}

.btn-transparent{
  background-color: transparent;
  padding: 12.5px 16px;
  color: #FFFFFF;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 4px;
}
.btn-transparent:hover{
  background-color: #469165;
}

/* navbar start */

#navbar{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto; /*important part*/
  padding-top: 16px;
  padding-bottom: 14px;
}

.navbar-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.logo{
  max-width: 139px;
}

.menu{
  list-style: none;
  display: flex;
  gap: 32px;
}
.menu a{
  text-decoration: none;
  color: black;
}
/* navbar end */

/* banner section start */
#banner{
  margin: 0 auto;
  background: url(../assets/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 115.5px;
}
.icon-gap1{
  margin-left: 10px;
}
.icon-gap2{
  margin-right: 10px;
}
.buttons-banner{
  margin-right: 16px;
  padding-bottom: 180px;
}
.access{
  background-color: #FFFFFF;
  border-radius:20px;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  /* flex-box -> jototuku content toto tuku tei apply hoy */
  gap: 6px;
  padding: 8px 12px;
  cursor: pointer;
}

.banner-content h1{
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 72px;
}

.text p{
  margin-bottom: 32px;
}
/* banner section end */

/* card-section start */
#card-section{
  
}
.card-container{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  margin-bottom: 38px;
}
.card-text{
  padding-top: 50px;
  padding-bottom: 44px;
}
.card-text h2{
  font-size: 48px;
  font-weight: 700;
}
.card-text p{
  color: #627382;
  line-height: 20px;
  margin-top: 16px;
  /* margin-bottom: 44px; */
  font-size: 16px;

}
.cards{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 24px;
  /* text-align: center; */
  /* max-height: 300px; */
}
.card{
  /* gap: 24px; */
  /* border: 1px solid black; */
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
  padding: 70px 24px;
  border-radius: 8px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.card p{
  color: #627382;
  line-height: 20px;
  margin-top: 16px;
  margin-bottom: 44px;
  font-size: 16px;
}
.card h3{
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}
.card-img{
  background-color: #F95555;
  display: inline-flex;
  padding: 14px;
  border-radius: 50%;
}
/* card-section end */

/* second-brain-section start */
#second-brain-section{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}
.second-brain-container{
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.second-brain-text h3{
  font-size: 48px;
  font-weight: 700;
}
.second-brain-text .p2{
  color: #627382;
  line-height: 20px;
  margin-top: 16px;
  margin-bottom: 40px;
  font-size: 16px;
}
.ol{
  list-style: none;
}
.ol li{
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
}
/* second-brain-section end */

/* think section start */
.think-container{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  background-color: #F7F6F2;
  padding: 80px 0;
  text-align: center;
}
.Think-text h3{
  font-size: 40px;
  font-weight: 700;
  color: #001931;
}
.Think-text p{
  padding: 16px 0 24px 0;
  color: #627382;
  font-size: 16px;
}
.think-btn p{
  color: #627382;
  padding-top: 16px;
}
/* think section end */

/* footer section start */
#footer-section{
  background-color: #001931;
  margin-top: 120px;
  padding-top: 120px;
}
.footer-container{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}
.first-part{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
}
.social-links p{
  color: #FFFFFF;
  padding-bottom: 16px;
}
.social-links ol li{
  list-style: none;
  display: inline-flex;
  padding: 6px;
  gap: 16px;
  background-color: #FFFFFF;
  border-radius: 50%;
}
.social-links ol li a{
  color: black;
  cursor: pointer;
}

/* .hr-class{
  color: #212529;
} */

.last-part{
  border-top: 1px solid #627382;
}
.last-part p{
  color: #FAFAFA;
  font-size: 16px;
  padding: 30px 0 30px 0;
  text-align: center;
}
/* footer section end */